
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-sm-12 col-md-4">  
            
            <ul class="Specialities">
                <h4>Specialities</h4>
            <h3>A Web Application Developer capable of providing solution on</h3>
            <li>Accessible Website that look great on any screen</li>
            <li>Web design</li>
            <li>Web -Application (SPA)</li>
            <li>Desktop Application</li>
            <li>Backend Integeration</li>
            <li>Cloud Solution</li>
        </ul>
            <ul id="education"> 
                <h4 class="">Education & Honor</h4>
            <li>Maryam Abacha American University of Niger (2019-2022) <br>
                 BSC. Computer Science</li>
            <li> Jigawa State Instittute of Science and Technology(Informatic Instittute) (2017) <br>
                Foundation in Technology Skills</li>
            <li> Government Secondary School Gwale (2013-2016)<br>
                High School Certificate </li> 
            <li> Al-ameen Model School Kano (2010-2013)<br>
                Junior School Certificate</li>
            <li> 
                PRIMARY SCHOOL CERTIFACATION</li>
        </ul>
  
            <h4>Training seminars, Professional Certificates</h4>
            <ul id="education">
                <li>Google Cloud Computing (2022/23) <br>
                    Google Africa Developers
                </li>
                <li>Cisco Networking Academy (2020) <br>
                    Cybersecurity Certificate
                </li>
                <li>Cybersecurity Certificate(2022)</li>
                <li>Computer and Data Management (2013) <br>
                    Kano State Senior Secondary School Board
                </li>
                <li> Professional Diploma in Computer and Information Technology (2017) <br>
                    Skynet Computer Training Instittute

                </li>
            </ul>

        </div>
    <div class="col-lg-4 col-sm-12 col-md-4">
        <ul id="technicalSkills">
        <h4 class="">Technical Skills</h4>
        <li>HTML5</li>
        <li>CSS&SASS</li>
        <li>JAVASCRIPT</li>
        <li>ANGULAR FRAMEWORK</li>
        <li>TYPSCRIPT</li>
        <li>NODE.JS</li>
        <li>Express.js</li>
        <li>Java Programming</li>
        <li>SWING FRAMEWORK</li>
        <li>BACKEND AS SERVICES -FIREBASE</li>
        <li>CLOUD COMPUTING</li>
        <li>Mysql</li>
        <li>NON-RELATIONAL DATABASE -MANGODB & DERBY</li>
        <li>KALI LINUX</li>
        </ul>
        </div>
</div>
</div>
   <!--projects side container-->         
<div class="container-fluid" id="project-container">
    <h1 id="project-header">PROJECTS</h1>
    <div class="row">    
    <div class="col-lg-4 col-sm-6">
        <div class="card shadow-2">
            <div class="card-header">
                <h4>MAAUN ONLINE FEES PAYMENT</h4>
            </div>
            <div class="card-body">
                <div class="carousel">
                    <carousel>
                        <slide id="slide">
                          <img src="assets/images/maaun/1.png" alt="first slide" style="display: block; width: 100%;">
                        </slide>
                        <slide>
                          <img src="assets/images/maaun/2.png" alt="second slide" style="display: block; width: 100%;">
                        </slide>
                        <slide>
                          <img src="assets/images/maaun/3.png" alt="third slide" style="display: block; width: 100%;">
                        </slide>
                        <slide>
                        <img src="assets/images/maaun/4.png" alt="third slide" style="display: block; width: 100%;">
                          </slide>

                      </carousel>
                </div>
            </div>
            <div class="card-footer">
                <h5>Online payment solution for prestigius university of Maryam Abacha American University</h5>
            </div>
        </div>

    </div>
    <div class="col-lg-4 col-sm-6">
        <div class="card">
            <div class="card-header">
                <h4>ONLINE VEHICLE INPECTION SYSTEM</h4>
            </div>
            <div class="card-body">
                <div class="carousel">
                    <carousel>
                        <slide>
                          <img src="assets/images/vehicle/1.png" alt="first slide" style="display: block; width: 100%;">
                        </slide>
                        <slide>
                          <img src="assets/images/vehicle/5.png" alt="second slide" style="display: block; width: 100%;">
                        </slide>
                        <slide>
                          <img src="assets/images/vehicle/3.png" alt="third slide" style="display: block; width: 100%;">
                        </slide>
                        <slide>
                        <img src="assets/images/vehicle/4.png" alt="third slide" style="display: block; width: 100%;">
                          </slide>

                      </carousel>
                </div>
            </div>
            <div class="card-footer">
                <h5>Vehicle inspection System</h5>
            </div>
        </div>
    </div>
        <div class="col-lg-4 col-sm-6">
            <div class="card">
                <div class="card-header">
                    <h4>EDUKAN</h4>
                </div>
                <div class="card-body">
                    <div class="carousel">
                        <carousel>
                            <slide>
                              <img src="assets/images/maaun/1.png" alt="first slide" style="display: block; width: 100%;">
                            </slide>
                            <slide>
                              <img src="assets/images/maaun/2.png" alt="second slide" style="display: block; width: 100%;">
                            </slide>
                            <slide>
                              <img src="assets/images/maaun/3.png" alt="third slide" style="display: block; width: 100%;">
                            </slide>
                            <slide>
                            <img src="assets/images/maaun/4.png" alt="third slide" style="display: block; width: 100%;">
                              </slide>
    
                          </carousel>
                    </div>
                </div>
                <div class="card-footer">
                    <h5>Online payment solution for prestigius university of Maryam Abacha American University</h5>
                </div>
        </div>
      </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-sm-6">
            <div class="card">
                <div class="card-header">
                    <h4>DANSAHU</h4>
                </div>
                <div class="card-body">
                    <div class="carousel">
                        <carousel>
                            <slide>
                              <img src="assets/images/maaun/1.png" alt="first slide" style="display: block; width: 100%;">
                            </slide>
                            <slide>
                              <img src="assets/images/maaun/2.png" alt="second slide" style="display: block; width: 100%;">
                            </slide>
                            <slide>
                              <img src="assets/images/maaun/3.png" alt="third slide" style="display: block; width: 100%;">
                            </slide>
                            <slide>
                            <img src="assets/images/maaun/4.png" alt="third slide" style="display: block; width: 100%;">
                              </slide>
    
                          </carousel>
                    </div>
                </div>
                <div class="card-footer">
                    <h5>Trycicle Rent Payment System designed to tacle the low cash policy which result in difficulty for both the drivers and </h5>
            </div>
      </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="card">
            <div class="card-header">
                <h4>GIDANA</h4>
            </div>
            <div class="card-body">
                <div class="carousel">
                    <carousel>
                        <slide>
                          <img src="assets/images/maaun/1.png" alt="first slide" style="display: block; width: 100%;">
                        </slide>
                        <slide>
                          <img src="assets/images/maaun/2.png" alt="second slide" style="display: block; width: 100%;">
                        </slide>
                        <slide>
                          <img src="assets/images/maaun/3.png" alt="third slide" style="display: block; width: 100%;">
                        </slide>
                        <slide>
                        <img src="assets/images/maaun/4.png" alt="third slide" style="display: block; width: 100%;">
                          </slide>

                      </carousel>
                </div>
            </div>
            <div class="card-footer">
                <h5>Trycicle Rent Payment System designed to tacle the low cash policy which result in difficulty for both the drivers and </h5>
            
        </div>
  </div>
  </div>
    </div>

