/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.css";
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

@font-face {
    font-family: 'YesevaOne-Regular';
    src: url('../src/assets/fonts/YesevaOne-Regular.ttf');
}

html, body {
     height: 100%;
    width: 100%;
}
body {
margin: 0;
font-family: Roboto, "Helvetica Neue", sans-serif;
}
