#homepage{
    background-color:#659DBD;
    background-image:url("/assets/images/homepage/homebg4.png");
    background-repeat: repeat;
    background-size: cover;
    color:black;
    
}
#social-media>li{
list-style:none;
display: inline-block;
margin: 10px;
}
#aboutMe{
    background: rgb(255, 255, 255,.01);
    padding-top: 30px;
}
#meImage{
    width: 400px;
    height: 540px;
    border-radius: 15px 30px 10px 30px;
}
#imageContainer{
    position: relative;
    align-content: flex-start;
    float: left;
    bottom: 0;
}

#Uppername{
    font-family: 'YesevaOne-Regular';
    color: aliceblue; 
}
#profession{
    font-size: 30px;
    color: whitesmoke;
    text-align: center;
    padding: 5px;
}
#article{
    color: aliceblue;
    font-size: 17px;
    
}
#getTouch{
    display: block;
    background-color: rgb(255, 255, 255, 0.12);
    font-size: 16px;
    margin: 20px;
    padding: 20px;
    color: black;
    font-weight: bold;
}
a{
    text-decoration: none;
    color: aliceblue;
    font-weight: 500;
    position: relative;
    -webkit-background-clip: text;
    background-clip: text;
    transition: all 0.3s ease-in-out;
}
a:before {
    content: '';
    background: #54b3d6;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.4s ease-in-out;
  }
  a:hover {
    background-position: 0;
   }
   
 a:hover::before {
  width:100%;
   }
#buttons{
    margin-left: 5em;
    margin-right: 5em;
   display:block;
    align-content: center;

}
#Certificates{
    margin: 20px;
background-color: aliceblue;
background: rgba( 179, 220, 214, 0.2 );
border-radius: 16px;
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur(10px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}


