<div class="container-fluid" id="homepage" >
    <div class="row" id="aboutMe">
        <!--
            firtpage in which i make two different columns in one  row, first one for my image 
            the other contain details about me and social media handles
        -->
    <div class="col-lg-6 col-sm-6 col-md-8" id="imageContainer">
                <img src="assets/images/homepage/homepage-profile.png" class="img img-rounded" id="meImage" title="homepage"> 
            </div>
            <div class="col-lg-6 col-sm-12" >
                <p class="display-6" id="Uppername">Hi ! I am Samir Yusuf Danmari </p>
                <p class="" id="profession">Web_Developer</p>
                <p id="article">Hardworking and reliable developer focused on ongoing
                     above and beyond support to team and serve customers. Trained in web-technologies 
                    and offering top-notch web development abilities.
                     Motivated to continue to learn and grow as Developer.</p>

        <!--Social media logos and link to access them, made with bootsrap-5 and mix of css-->
    <ul id="social-media">
        <li><a href="https://www.instagram.com/sameer_danmari/" class="d-inline">
            <img src="assets/images/social-media/instagram-logo.png" width="30" height="30" alt="instagram-logo">
                    <p>instagram</p>
                    </a></li>
                    <li>
                        <a href="https://web.facebook.com/samir.danmari" class="d-inline">
                            <img src="assets/images/social-media/facebook-logo.png" width="30" height="30" title="facebook-logo">
                            <p>Facebook</p>
                        </a>
                    </li>
                    <li>
                        <a href="" class="d-inline">
            <img alt="youtube-logo"src="assets/images/social-media/youtube-logo.png" width="30" height="30">
                            <p>Youtube</p>
                        </a>
                    </li>
                    <li>
                        <a href="" class="d-inline">
                            <img alt="github-logo" src="assets/images/social-media/github-logo.png" width="30" height="30">
                            <p>Github</p>
                        </a>
                    </li>
                    <li>
                        <a href="" class="d-inline">
                            <img alt="whatsapp-logo" src="assets/images/social-media/whatsapp-logo.png" width="30" height="30">
                            <p>Whatsapp</p>
                        </a>
                    </li>
                    <li>
                        <a href="" class="d-inline">
                            <img alt="linkedIn-logo" src="assets/images/social-media/linkedIn-logo.png" width="30" height="30">
                            <p>LinkedIn</p>
                        </a>
                    </li>
                </ul> 
                <!--buttons to view getIntouch from and collab article-->
                <div class="d-grid d-md-block" id="buttons">
                    <button class="btn btn-dark m-3" id="getInTouch" type="button" data-bs-toggle="collapse" data-bs-target="#getInTouchCollapse" aria-expanded="false" aria-controls="getInTouchCollapse">Get In Touch <b>></b></button>
                    <button class="btn btn-outline-dark" id="Collaborate" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample" aria-expanded="false" aria-controls="multiCollapseExample2">Collaborate <b></b></button>
                </div>
                <!--Hidden content which can only be displayed if triggered using the above getIntouch button-->
                <div class="row" >
                    <div class="col-lg-8 col-sm-8 form-group">
                      <div class="collapse multi-collapse" id="getInTouchCollapse">
                        <div class="card card-body" id="getTouch">
                            <form class="form">
                                <div class="row" >
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <label for="firsname">firsname
                                        <input type="text" id="firtname" class="form-control"></label>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <label for="lasname">lasname
                                        <input type="text" name="" id="" class="form-control"></label>
                                    </div>
                                    </div>
                                        <label for="gender">Email
                                      <input type="email" class="form-control" placeholder="Email" id="email">
                                    <label for="Address">FeedBack</label><textarea class= form-control rows="3" id="address"></textarea></label>
                            </form>
                            <button class="btn btn-dark" p-4>Submit</button>
                        </div>
                       </div>
                        </div>
                      </div>
                      <div class="col">
                        <div class="collapse multi-collapse" id="multiCollapseExample">
                          <div class="card card-body">
                            Ready For Partnership or Collaboration, freelancing, mentoring, suggestion or 
                            questions, <br> Send Mail to . ASAP wil be reliable, just hit me up by filling 
                            the form in getInTouch button or one of my social media handle above.
                          </div>
                        </div>
                      </div>
                    </div>       
</div>
<div class="row" id="Certificates">
    <app-about-me></app-about-me>
</div>
</div>
